.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
   /*  border: 1px solid #ccc; */
    box-shadow: 3px 3px 7px rgb(153, 150, 150);
    padding: 16px;
    left: 15%;
    top: 20%;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}