.SearchBar{
    padding: 10px;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #F0F2F5;
    background-color: #F0F2F5;
    font-size: 1rem;
}
.SearchBar::placeholder{
    background-image: url('../../assets/pngs/searchicon.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
@media(max-width:1079px){
    .SearchBar{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        
    }
    .SearchBar::placeholder{
        color: transparent;
    }
}